 #blink {
         position:relative;
         font-size: 20px;
        animation-name: today;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-play-state: running;
  }

 @keyframes today {

  0% {color: red;}
  /*25% {color: blue;}
  50% {color: purple;}*/
 100% {color: orange;}

}

#diva {
  height: 100px;
  width: 100px;

  border: 1px solid blue;
}
